In [66]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

In [67]:
cd "G:\Dropbox\Fall 2017\ECON 815\CompEcon_Fall17\ProblemSets\PS3"

G:\Dropbox\Fall 2017\ECON 815\CompEcon_Fall17\ProblemSets\PS3

In [68]:
data=pd.read_stata('PS3_data.dta')

In [69]:
data.head(5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,5614.0,1.0,2.0,52.0,46.0,1.0,2.0,8.0,8.0,0.0
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,56.0,57.0,1.0,2.0,3.0,3.0,0.0
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,77.0,64.0,1.0,2.0,NaN,3.0,0.0
3,4,1967,4,Head,1560.0,0.0,NaN,NaN,6,1.0,...,3280.0,1.0,2.0,45.0,44.0,1.0,2.0,8.0,5.0,0.0
4,5,1967,5,Head,2500.0,2000.0,NaN,NaN,3,1.0,...,7900.0,1.0,2.0,24.0,22.0,1.0,2.0,10.0,9.0,0.0

Part 1 and 2

In [70]:
data['wperh']=data.hlabinc/data.hannhrs

In [73]:
data1 = data[pd.notnull(data['wperh'])\
             &pd.notnull(data['hyrsed'])&pd.notnull(data['age'])&pd.notnull(data['hsex'])&pd.notnull(data['hrace'])]

In [100]:
data1=data1[(data.age>=25)&(data.age<=60)&(data.hsex==1)&(data.wperh>7)&(data.wperh!=np.inf)]
data1['Black']=(data1['hrace']==1)
data1['Hispanic']=(data1['hrace']==5)
data1['Other']=(data1['hrace']!=1)&(data1['hrace']!=5)
data1.head(n=5)

F:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wperh,Black,Hispanic,Other
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,48.0,1.0,2.0,12.0,12.0,0.247121,41.318916,True,False,False
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,54.0,1.0,2.0,5.0,5.0,0.247121,11.274115,True,False,False
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,24.0,1.0,2.0,16.0,12.0,0.247121,10.257995,True,False,False
11173,284,1971,20,Head,2400.0,0.0,76885.437500,NaN,2,1.0,...,36.0,1.0,2.0,16.0,12.0,0.247121,32.035599,True,False,False
11175,50,1971,29,Head,3164.0,2000.0,31968.156250,28326.214844,3,1.0,...,31.0,1.0,2.0,12.0,12.0,0.247121,10.103716,True,False,False

part 3

In [93]:
def myFunction(ceofs,data):
    '''
    educ = data1.hyrsed[(data1.year==i)]
    age=data1.age[(data1.year==i)]
    black=data1.Black[(data1.year==i)]
    hispanic=data1.Hispanic[(data1.year==i)]
    OtherRace=data1.Other[(data1.year==i)]
    wage = data1.hlabinc[(data1.year==i)]
    '''
    true_y=np.log(data['wperh'])
    y = ceofs[0] + ceofs[1] * data['hyrsed']  + ceofs[2] * data['age']\
    + ceofs[3] * data['Black']  \
    +ceofs[4] * data['Hispanic'] + ceofs[5] * data['Other']
    
    error = np.array([true_y-y])
    
  
    l = -(len(y)/2)*np.log(2*np.pi)-len(y)*np.log(ceofs[6])-(1/(2*(ceofs[6]**2)))*((error*error).sum())

    return -l

In [62]:
ceofs=[9.17377875,0.013818343,0.072323669,0,0,-0.149530086,0.5]
bnds = ((-np.inf,np.inf),(-np.inf,np.inf),(-np.inf,np.inf),(-np.inf,np.inf),(-np.inf,np.inf),(-np.inf,np.inf),(0.00001,np.inf))

In [95]:
myFunction(ceofs,data1971)

240849.97330695915

In [104]:

res1971 = minimize(myFunction,ceofs,args=data1971,method='Nelder-Mead')
res1971

 final_simplex: (array([[  1.54511137e+00,   6.73468855e-02,   1.43558447e-02,
          1.53077644e-03,   1.75750171e-03,  -1.05704762e-01,
          4.10960948e-01],
       [  1.54513153e+00,   6.73454290e-02,   1.43559015e-02,
          1.53062141e-03,   1.75743711e-03,  -1.05717815e-01,
          4.10970327e-01],
       [  1.54503149e+00,   6.73502370e-02,   1.43567819e-02,
          1.53010069e-03,   1.75704352e-03,  -1.05736682e-01,
          4.10958950e-01],
       [  1.54507339e+00,   6.73485352e-02,   1.43561395e-02,
          1.53082963e-03,   1.75749511e-03,  -1.05697020e-01,
          4.10959545e-01],
       [  1.54517866e+00,   6.73436603e-02,   1.43552850e-02,
          1.52952792e-03,   1.75691204e-03,  -1.05791325e-01,
          4.10954329e-01],
       [  1.54508040e+00,   6.73511391e-02,   1.43553282e-02,
          1.53045178e-03,   1.75721741e-03,  -1.05713116e-01,
          4.10969892e-01],
       [  1.54503050e+00,   6.73482085e-02,   1.43574007e-02,
          1.53073925e-03,   1.75742733e-03,  -1.05702221e-01,
          4.10960422e-01],
       [  1.54504699e+00,   6.73491819e-02,   1.43569324e-02,
          1.53021643e-03,   1.75711360e-03,  -1.05731723e-01,
          4.10962684e-01]]), array([ 731.01698738,  731.01699154,  731.01699327,  731.0169957 ,
        731.01700564,  731.01700845,  731.017009  ,  731.01701204]))
           fun: 731.01698737877246
       message: 'Optimization terminated successfully.'
          nfev: 896
           nit: 566
        status: 0
       success: True
             x: array([  1.54511137e+00,   6.73468855e-02,   1.43558447e-02,
         1.53077644e-03,   1.75750171e-03,  -1.05704762e-01,
         4.10960948e-01])

In [105]:
res1980 = minimize(myFunction,ceofs,args=data1980,method='Nelder-Mead',bounds=bnds)
res1980

F:\anaconda\lib\site-packages\scipy\optimize\_minimize.py:394: RuntimeWarning: Method Nelder-Mead cannot handle constraints nor bounds.
  RuntimeWarning)

 final_simplex: (array([[ 1.59750536,  0.06787046,  0.01275911,  0.00905854,  0.00487833,
        -0.06282099,  0.44949253],
       [ 1.59747117,  0.06787349,  0.01275926,  0.00905901,  0.00487819,
        -0.06284426,  0.44949058],
       [ 1.59750011,  0.06787033,  0.01275924,  0.00905883,  0.00487792,
        -0.06284039,  0.44949065],
       [ 1.59745189,  0.06787428,  0.01275937,  0.00905882,  0.00487858,
        -0.06283027,  0.44949191],
       [ 1.59751761,  0.06787062,  0.0127588 ,  0.00905908,  0.00487766,
        -0.06285337,  0.44948875],
       [ 1.59747394,  0.06787271,  0.01275945,  0.00905892,  0.00487815,
        -0.06284291,  0.4494924 ],
       [ 1.59746118,  0.06787182,  0.01275992,  0.00905859,  0.00487852,
        -0.06281854,  0.44948697],
       [ 1.59744155,  0.06787452,  0.01275952,  0.00905891,  0.00487848,
        -0.06283658,  0.44949166]]), array([ 1149.40266552,  1149.40267574,  1149.40268721,  1149.40268961,
        1149.40269161,  1149.40269187,  1149.40269394,  1149.40269936]))
           fun: 1149.4026655210187
       message: 'Optimization terminated successfully.'
          nfev: 1053
           nit: 685
        status: 0
       success: True
             x: array([ 1.59750536,  0.06787046,  0.01275911,  0.00905854,  0.00487833,
       -0.06282099,  0.44949253])

In [106]:
res1990 = minimize(myFunction,ceofs,args=data1990,method='Nelder-Mead',bounds=bnds)
res1990

F:\anaconda\lib\site-packages\scipy\optimize\_minimize.py:394: RuntimeWarning: Method Nelder-Mead cannot handle constraints nor bounds.
  RuntimeWarning)

 final_simplex: (array([[ 1.10326048,  0.09785149,  0.01350462,  0.00972281, -0.00263686,
        -0.1378781 ,  0.48373297],
       [ 1.10329838,  0.09784872,  0.01350446,  0.00972246, -0.00263662,
        -0.13787146,  0.48373305],
       [ 1.10328783,  0.09785007,  0.01350444,  0.00972288, -0.00263692,
        -0.13789255,  0.48373317],
       [ 1.10328388,  0.09785029,  0.01350446,  0.00972287, -0.00263691,
        -0.13789085,  0.48373255],
       [ 1.10326771,  0.09785079,  0.01350468,  0.00972273, -0.00263682,
        -0.13787716,  0.48373488],
       [ 1.1032527 ,  0.09785131,  0.01350492,  0.00972303, -0.00263704,
        -0.13789672,  0.48373377],
       [ 1.10326357,  0.09785091,  0.01350479,  0.00972287, -0.00263691,
        -0.1378873 ,  0.48373149],
       [ 1.10331392,  0.09784724,  0.0135048 ,  0.00972262, -0.00263677,
        -0.13789493,  0.48373293]]), array([ 1394.51532552,  1394.51535241,  1394.51535819,  1394.51536145,
        1394.51536465,  1394.51536545,  1394.51536708,  1394.51537208]))
           fun: 1394.5153255237133
       message: 'Optimization terminated successfully.'
          nfev: 1019
           nit: 638
        status: 0
       success: True
             x: array([ 1.10326048,  0.09785149,  0.01350462,  0.00972281, -0.00263686,
       -0.1378781 ,  0.48373297])

In [107]:
res2000 = minimize(myFunction,ceofs,args=data2000,method='Nelder-Mead',bounds=bnds)
res2000

F:\anaconda\lib\site-packages\scipy\optimize\_minimize.py:394: RuntimeWarning: Method Nelder-Mead cannot handle constraints nor bounds.
  RuntimeWarning)

 final_simplex: (array([[  1.54511137e+00,   6.73468855e-02,   1.43558447e-02,
          1.53077644e-03,   1.75750171e-03,  -1.05704762e-01,
          4.10960948e-01],
       [  1.54513153e+00,   6.73454290e-02,   1.43559015e-02,
          1.53062141e-03,   1.75743711e-03,  -1.05717815e-01,
          4.10970327e-01],
       [  1.54503149e+00,   6.73502370e-02,   1.43567819e-02,
          1.53010069e-03,   1.75704352e-03,  -1.05736682e-01,
          4.10958950e-01],
       [  1.54507339e+00,   6.73485352e-02,   1.43561395e-02,
          1.53082963e-03,   1.75749511e-03,  -1.05697020e-01,
          4.10959545e-01],
       [  1.54517866e+00,   6.73436603e-02,   1.43552850e-02,
          1.52952792e-03,   1.75691204e-03,  -1.05791325e-01,
          4.10954329e-01],
       [  1.54508040e+00,   6.73511391e-02,   1.43553282e-02,
          1.53045178e-03,   1.75721741e-03,  -1.05713116e-01,
          4.10969892e-01],
       [  1.54503050e+00,   6.73482085e-02,   1.43574007e-02,
          1.53073925e-03,   1.75742733e-03,  -1.05702221e-01,
          4.10960422e-01],
       [  1.54504699e+00,   6.73491819e-02,   1.43569324e-02,
          1.53021643e-03,   1.75711360e-03,  -1.05731723e-01,
          4.10962684e-01]]), array([ 731.01698738,  731.01699154,  731.01699327,  731.0169957 ,
        731.01700564,  731.01700845,  731.017009  ,  731.01701204]))
           fun: 731.01698737877246
       message: 'Optimization terminated successfully.'
          nfev: 896
           nit: 566
        status: 0
       success: True
             x: array([  1.54511137e+00,   6.73468855e-02,   1.43558447e-02,
         1.53077644e-03,   1.75750171e-03,  -1.05704762e-01,
         4.10960948e-01])

In [100]:
#Part 4

Beta1 indicates the expected percentage incerase in y responsing to 1 unit increase in education. In the sample, beta1 increases from 1971 to 2000. It means that on average, one more year of education leads to more and more percentage change in wage. This means return of education increases over time.